body { 
    background-color: rgba(238, 238, 245, 0.863);

}


nav { 
    text-align: center;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(181, 211, 163);
    font-size: 30px;
    width: 2000px;
    height: 30px;

}

.prod1 {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;   
    width: 100%;
    left: 500px;
    position: absolute;
}

}

.prod2 {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    width: 100%;
    position: absolute;
    left: 1000px;
 

}